@charset "UTF-8";
@font-face {
  font-family: "jk_L";
  src: url("../fonts/JKゴシックフォントL/JKG-L_3.woff") format("woff");
  src: url("../fonts/JKゴシックフォントL/JKG-L_3.woff2") format("woff2");
}
@font-face {
  font-family: "Kouzan";
  src: url("../fonts/kouzanGyoushoOTF/kouzanGyoushoOTF.woff") format("woff");
  src: url("../fonts/kouzanGyoushoOTF/kouzanGyoushoOTF.woff2") format("woff2");
}
@font-face {
  font-family: "PixelMPlus";
  src: url("../fonts/PixelMPlus/PixelMplus10-Regular.woff") format("woff");
  src: url("../fonts/PixelMPlus/PixelMplus10-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Azuki";
  src: url("../fonts/あずきフォント/azukiP.woff") format("woff");
  src: url("../fonts/あずきフォント/azukiP.woff2") format("woff2");
}
@font-face {
  font-family: "Iroha";
  src: url("../fonts/いろはクラシック/irohakakuC-Bold.woff") format("woff");
  src: url("../fonts/いろはクラシック/irohakakuC-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Utamin";
  src: url("../fonts/うたミンフォント/utamin=s1=20151214.woff") format("woff");
  src: url("../fonts/うたミンフォント/utamin=s1=20151214.woff2") format("woff2");
}
@font-face {
  font-family: "Karakaze";
  src: url("../fonts/からかぜ/karakaze-R.woff") format("woff");
  src: url("../fonts/からかぜ/karakaze-R.woff2") format("woff2");
}
@font-face {
  font-family: "Shokaki";
  src: url("../fonts/しょかきうたげ/しょかきうたげ（無料版）.woff") format("woff");
  src: url("../fonts/しょかきうたげ/しょかきうたげ（無料版）.woff2") format("woff2");
}
@font-face {
  font-family: "Tanuki";
  src: url("../fonts/たぬき油性マジック/TanukiMagic.woff") format("woff");
  src: url("../fonts/たぬき油性マジック/TanukiMagic.woff2") format("woff2");
}
@font-face {
  font-family: "Makinus";
  src: url("../fonts/マキナス/Makinas-4-Flat.woff") format("woff");
  src: url("../fonts/マキナス/Makinas-4-Flat.woff2") format("woff2");
}
@font-face {
  font-family: "Memo";
  src: url("../fonts/めもわーる/memoir.woff") format("woff");
  src: url("../fonts/めもわーる/memoir.woff2") format("woff2");
}
@font-face {
  font-family: "LightNovel";
  src: url("../fonts/ラノベPOP/LightNovelPOPv2.woff") format("woff");
  src: url("../fonts/ラノベPOP/LightNovelPOPv2.woff2") format("woff2");
}
@font-face {
  font-family: "Genkai";
  src: url("../fonts/源界明朝/genkai-mincho.woff") format("woff");
  src: url("../fonts/源界明朝/genkai-mincho.woff2") format("woff2");
}
@font-face {
  font-family: "Kokumin";
  src: url("../fonts/刻明朝/font_1_kokumr_1.00_rls.woff") format("woff");
  src: url("../fonts/刻明朝/font_1_kokumr_1.00_rls.woff2") format("woff2");
}
@font-face {
  font-family: "Soukou";
  src: url("../fonts/装甲明朝/SoukouMincho.woff") format("woff");
  src: url("../fonts/装甲明朝/SoukouMincho.woff2") format("woff2");
}
@font-face {
  font-family: "YuMincho";
  font-weight: normal;
  src: local("YuMincho-Light"), local("Yu Mincho Light");
}
@font-face {
  font-family: "HG";
  src: local("HG-行書体"), local("HG 行書体");
}
a {
  text-decoration: none;
  color: black;
}

.jump:hover {
  animation: bigger 0.8s forwards;
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-color: rgba(108, 235, 187, 0.9);
  display: none;
}
.mobile-menu .closeButton {
  position: absolute;
  right: 0;
  width: 50px;
  text-align: center;
  font-size: 30px;
}
.mobile-menu .menu {
  width: 100vw;
  list-style: none;
  font-size: 30px;
  margin: 70px auto;
  text-align: center;
}

#container {
  margin: 0 auto;
  max-width: 1400px;
}
@media (max-width:1280px) {
  #container {
    max-width: 1200px;
  }
}
@media (max-width:960px) {
  #container {
    max-width: 900px;
  }
}
@media (max-width:430px) {
  #container {
    max-width: 420px;
  }
}

#header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 5% 0;
}
.topButton {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  font-size: 50px;
}
@media (max-width:1280px) {
  .topButton {
    font-size: 40px;
  }
}
@media (max-width:430px) {
  .topButton {
    font-size: 24px;
  }
}
.topButton .topTitle {
  font-family: "Azuki";
}
.topButton .topTitle > a {
  color: #6cebbb;
}

#pagesButton {
  width: 40%;
  display: flex;
  justify-content: space-around;
}
@media (max-width:430px) {
  #pagesButton {
    display: none;
  }
}
#pagesButton .jump {
  color: black;
  font-size: 32px;
}
@media (max-width:960px) {
  #pagesButton .jump {
    font-size: 24px;
  }
}

.menu-bar {
  display: none;
  z-index: 100;
  position: fixed;
  right: 10px;
  width: 50px;
}
@media (max-width:430px) {
  .menu-bar {
    display: inline-block;
  }
}
.menu-bar .btn {
  padding: 10px;
  border: none;
  cursor: pointer;
}
.menu-bar .barline {
  background-color: black;
  width: 30px;
  height: 2px;
  display: block;
  margin-bottom: 9px;
  transition: transform 0.7s;
}
.menu-bar .barline:last-child {
  margin-bottom: 0;
}

.bttButton {
  width: 10%;
  margin: 1% auto;
  text-align: center;
  font-family: "Kokumin";
  background-color: #6cebbb;
  font-size: 20px;
}
@media (max-width:430px) {
  .bttButton {
    font-size: 15px;
  }
}

#footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-top: solid 1px black;
}

#snsContainer {
  width: 75%;
  display: flex;
  justify-content: flex-start;
}
#snsContainer:nth-child(1) {
  padding-left: 5%;
}
#snsContainer .snsList {
  width: 30%;
  text-align: center;
  cursor: pointer;
}
#snsContainer .snsList p {
  margin: 0;
  padding: 0;
  font-size: 24px;
}
@media (max-width:1280px) {
  #snsContainer .snsList p {
    font-size: 20px;
  }
}
@media (max-width:430px) {
  #snsContainer .snsList p {
    font-size: 12px;
  }
}
#snsContainer .snsList .icons {
  margin: 0;
  padding: 0;
  font-size: 50px;
}
@media (max-width:430px) {
  #snsContainer .snsList .icons {
    font-size: 30px;
  }
}

.nameText {
  width: 20%;
  padding-right: 5%;
  color: black;
  text-align: right;
}
.nameText p {
  font-size: 24px;
}
@media (max-width:1280px) {
  .nameText p {
    font-size: 20px;
  }
}
@media (max-width:430px) {
  .nameText p {
    font-size: 12px;
  }
}

@keyframes bigger {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@keyframes fadeUnderIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes fadeRightIn {
  from {
    opacity: 0;
    transform: translate(200px, -20px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
#mainContainer {
  width: 100%;
}

.mainTitle {
  text-align: center;
  font-size: 30px;
}
@media (max-width:960px) {
  .mainTitle {
    font-size: 24px;
  }
}
@media (max-width:430px) {
  .mainTitle {
    font-size: 16px;
  }
}

#langContainer, #toolContainer, #devContainer {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5% 5%;
  opacity: 0;
}
#langContainer.animate, #toolContainer.animate, #devContainer.animate {
  animation: fadeUnderIn 2s ease 0.3s forwards;
}
#langContainer .myList, #toolContainer .myList, #devContainer .myList {
  width: 27%;
  margin: 2% 3%;
  text-align: center;
  font-size: 24px;
}
@media (max-width:960px) {
  #langContainer .myList, #toolContainer .myList, #devContainer .myList {
    font-size: 18px;
  }
}
@media (max-width:430px) {
  #langContainer .myList, #toolContainer .myList, #devContainer .myList {
    width: 50%;
    margin: 5% auto;
    font-size: 12px;
  }
}
#langContainer .myList p, #toolContainer .myList p, #devContainer .myList p {
  font-size: 50px;
}
#langContainer .myList p img, #toolContainer .myList p img, #devContainer .myList p img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: solid 1px black;
}
@media (max-width:430px) {
  #langContainer .myList p, #toolContainer .myList p, #devContainer .myList p {
    font-size: 30px;
  }
}

.introText {
  width: 80%;
  margin: 0 auto;
}
.introText .sentences {
  margin-top: 5%;
  font-size: 15px;
}/*# sourceMappingURL=skills.css.map */