@use "../commonParts/commonSetting" as *;
@use "../commonParts/responsive" as *;
@use "../commonParts/fonts" as *;

#mainContainer{
    width: 100%;
}

.mainTitle{
    margin: 5% 5%;
    padding-left: 10%;
    text-align: center;
    font-size: 30px;
    @include mq(md){
        font-size: 24px;
    }
    @include mq(sm){
        font-size: 16px;
    }
}

#langContainer,#toolContainer,#devContainer{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5% 5%;
    opacity: 0;
    &.animate{
        animation: fadeUnderIn 2s ease 0.3s forwards;
    }

    & .myList{
        width: 27%;
        margin: 2% 3%;
        text-align: center;
        font-size: 24px;
        @include mq(md){
            font-size: 18px;
        }
        @include mq(sm){
            width: 50%;
            margin: 5% auto;
            font-size: 12px;
        }

        & p{
            font-size: 50px;
            & img{
                width: 100%;
                object-fit: cover;
                border: solid 1px $mainColor;
            }
            @include mq(sm){
                font-size: 30px;
            }
        }
    }
}

.introText{
    width: 80%;
    margin: 0 auto;
    & .sentences{
        margin-top: 5%;
        font-size: 15px;
    }
}